@import '/src/assets/scss/variables';
@import '/src/assets/scss/mixins';

// Thumbnail Section Css Start
.thumbnail-section-box {
    .section-heading-txt-box {
      .section-heading-txt {
        h6 {
          color: $primarySapphireBlue;
        }
        &.category-border-bottom-box {
          border-bottom: solid 2px $secondaryTxtColor;
          border-top: 0;
        }
      }
    }
    .category-txt-box {
      padding-bottom: 20px;
      padding-right: 20px;
    }
    .thumbnail-img-txt-con {
        .thumbnail-img-con {
            &.all-thumbnail-data-box {
                &:not(:last-child) {
                    border-bottom: solid 1px $secondaryBgColor;
                    margin-bottom: 20px !important;
                }
            }
            .thumbnail-txt-box {
                position: relative;
                .article-txt-con {
                    .article-txt {
                        padding-bottom: 55px !important;
                    }
                }
                .slide-article-txt-box {
                    position: absolute;
                    bottom: 0px;
                    left: 0;
                    padding: 0 10px;
                }
            }
        }
    }
    // Thumbnail with Dark Background Css Start
    .dark-bg-thumbnail-section-box {
        background-color: $primaryPaleChestnut;
        padding: 25px 0 0;
        margin-bottom: 20px;
    }
    // Thumbnail with Dark Background Css End
    // Thumbnail with Light Background Css Start
    .remove-bg-thumbnail-section-box {
        background-color: transparent !important;
    }
    // Thumbnail with Light Background Css End
}
// Thumbnail Section Css End

// Desktop Site Thumbnail Section Css Start
.desktop-site-thumbnail-section-box {
    &.thumbnail-section-box {
        background-color: $whiteColor;
        .section-heading-txt-box {
            padding: 15px 0 0px !important;
        }
        .thumbnail-img-txt-con {
            padding: 0 12px;
            &:not(:last-child) {
                .thumbnail-img-con {
                    border-bottom: 0;
                    margin-bottom: 0px !important;
                }
            }
        } 
        .thumbnail-img-con {
            padding-bottom: 0 !important;
            padding-top: 20px;
        }
    }
}
// Desktop Site Thumbnail Section Css End