// Color Variable Start
$primarySapphireBlue: #1b6698 !default;
$primaryPaleChestnut: #e8b8af !default;
$primarySeashell: #f9edeb !default;
$secondaryOuterSpaceCrayola: #2e3e41 !default;
$secondaryPowderBlue: #afdfe8 !default;
$secondaryAzureTwo: #ebf7f9 !default;
$secondaryBgColor: #f4dcd7 !default;
$secondaryTxtColor: #93402f !default;
$blackColor: #000000 !default;
$whiteColor: #ffffff !default;
$errorMessage: #f44336 !default;
$successMessage: #007e34 !default;
$warningMessage: #f8bb86 !default;
$greyColor: #9e9e9e !default;
$darkBlueColor: #103D5B !default;
$snackbarBgColor: #F2F4FC !default;
// Color Variable End

// Font Family Variable Start
$literata: 'Literata', serif !default;
$cabinetGrotesk: 'CabinetGrotesk', sans-serif !default;
// Font Family Variable End

// Font Weight Variable Start
$extraBold: 900;
$mediumBold: 800;
$bold: 700;
$semibold: 600;
$medium: 500;
$normal: 400;
$light: 300;
// Font Weight Variable End