.hero-banner-box {
    .hero-banner-content-box {
        .article-img-box {
            img {
                width: 100%;
            }
        }
        .hero-banner-title-box {
            padding: 20px 20px 0;
            .article-txt-con {
                padding-bottom: 20px;
            }
        }
    }
}