<div class="sidebar">
    <ul class="watch-list-ul">
        <li class="filter-item">
            <div class="filter-item-inner">
                <a class="slider-menu-name" routerLinkActive="active" [routerLink]="appUrl.RECENT_VIEW">
                    <span class="menu-title">Recently Viewed </span>
                </a>
            </div>
        </li>
        <li class="filter-item">
            <div class="filter-item-inner">
                <a class="slider-menu-name" routerLinkActive="active" [routerLink]="appUrl.BOOKMARKS">
                    <span class="menu-title">Bookmarks</span>
                </a>
            </div>
        </li>
        <!-- <li class="filter-item">
            <div class="filter-item-inner">
                <a class="slider-menu-name" routerLinkActive="active" [routerLink]="appUrl.NEWSLETTER_SUBSCRIPTION">
                    <span class="menu-title">News & Newsletter Alerts</span>
                </a>
            </div>
        </li> -->
        <!-- <li class="filter-item">
            <div class="filter-item-inner">
                <a class="slider-menu-name">
                    <span class="menu-title">Saved Clippings</span>
                </a>
            </div>
        </li> -->
        <li class="filter-item">
            <div class="filter-item-inner">
                <a class="slider-menu-name" routerLinkActive="active" [routerLink]="appUrl.EDIT_PREFERENCES">
                    <span class="menu-title">Edit Preferences</span>
                </a>
            </div>
        </li>
        <!-- <li class="filter-item">
            <div class="filter-item-inner">
                <a class="slider-menu-name">
                    <span class="menu-title">My Plan</span>
                </a>
            </div>
        </li> -->
        <li class="filter-item">
            <div class="filter-item-inner">
                <a class="slider-menu-name" routerLinkActive="active" [routerLink]="appUrl.EDIT_PROFILE">
                    <span class="menu-title">Edit Profile</span>
                </a>
            </div>
        </li>
        <!-- <li class="filter-item">
            <div class="filter-item-inner">
                <a class="slider-menu-name">
                    <span class="menu-title">Deactivate Account</span>
                </a>
            </div>
        </li> -->
    </ul>
</div>
