<!-- Hero Banner Section Code Start -->
<section class="hero-banner-box hero-banner-with-thumbnail-con" *ngIf="changeResolutionFlag">
    <div class="row m-0 section-heading-txt-box">
        <div [ngClass]="removeBorder ? 'remove-top-border col-12 section-heading-txt' : 'col-12 section-heading-txt'">
            <h5 class="mb-0" *ngIf="data.articleType.key !== 3">
                <a class="text-decoration-none" [href]="authorService.generateSlug(data.name, data.referenceId, data.articleType.key)">
                    {{ data.name }}
                </a>
            </h5>
            <div class="state-drop-down-box" *ngIf="data.articleType.key === 3">
                <span class="state-title-txt"> STATE WATCH &nbsp;&nbsp; </span>
                <div class="spacer"></div>
                <mat-form-field appearance="outline">
                    <button type="button" class="btn filter-btn p-0" (click)="select1.open(); stateSearch()">
                        <mat-icon>
                            <span class="material-symbols-outlined">instant_mix</span>
                        </mat-icon>
                    </button>
                    <mat-select
                        #select1
                        [compareWith]="utils.idComparer"
                        [(ngModel)]="data.stateView"
                        [ngModelOptions]="{ standalone: true }"
                        (selectionChange)="onStateChange($event)"
                        class="state-filter-dropdown"
                    >
                        <mat-select-filter
                            placeholder="Search By State Name"
                            *ngIf="select1.focused"
                            [array]="stateList"
                            displayMember="name"
                            (filteredReturn)="filteredStateList = $event"
                        ></mat-select-filter>
                        <mat-option *ngFor="let data of filteredStateList" [value]="data">
                            {{ data.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="mt-4 article-with-banner-img-box" *ngIf="!hasData">
        <div class="default-other-address-txt" *ngFor="let i of [0, 1]">
            <app-line-skeleton-loader [theme]="theme"></app-line-skeleton-loader>
        </div>
    </div>
    <div class="hero-banner-with-thumbnail-box">
        <div class="hero-banner-content-box">
            <div class="row m-0">
                <div class="col-12 p-0 article-img-box">
                    <a class="text-decoration-none" [href]="appUrl.ARTICLE_VIEW + '/' + data.contentViews[0].slug">
                        <img [src]="apiUrl.DOWNLOAD_IMAGE + data.contentViews[0].bannerFileView.fileId" />
                    </a>
                </div>
            </div>
            <div class="hero-banner-title-box">
                <div class="row m-0 article-txt-con">
                    <div class="col-12 p-0 article-category-txt" *ngIf="data.showCategory">
                        <p *ngIf="data.contentViews[0].categoryViews && data.contentViews[0].categoryViews.length !== 0">
                            {{ data.contentViews[0].categoryViews[0].name }}
                        </p>
                    </div>
                    <div class="col-12 p-0 article-txt">
                        <a class="text-decoration-none article-title-txt" [href]="appUrl.ARTICLE_VIEW + '/' + data.contentViews[0].slug">
                            <p>{{ data.contentViews[0].title }}</p>
                        </a>
                    </div>
                    <div class="col-12 p-0 article-txt">
                        <p class="article-sub-description-txt">
                            {{ data.contentViews[0].subHeading }}
                        </p>
                    </div>
                    <div class="row m-0 p-0 align-items-center">
                        <div class="col-9 p-0 article-by-read-time-box">
                            <app-article-author
                                *ngIf="data.contentViews[0].authorViews"
                                [authorViews]="data.contentViews[0].authorViews"
                            ></app-article-author>
                            &nbsp; · &nbsp;
                            <span>{{ data.contentViews[0].readTime }} Min Read</span>
                        </div>
                        <div class="col-3 article-bookmark-upload-icon p-0 text-right">
                            <div class="article-bookmark-upload-icon-box">
                                <a (click)="onBookmark(data.contentViews[0].id)">
                                    <mat-icon>
                                        <span
                                            [ngClass]="data.contentViews[0].bookMark ? 'material-symbols' : 'material-symbols-outlined'"
                                            matTooltip="Bookmark"
                                            >bookmark</span
                                        >
                                    </mat-icon>
                                </a>
                                <app-article-share [article]="data.contentViews[0]"></app-article-share>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Thumbnail Section Code Start -->
    <div class="thumbnail-section-box">
        <div>
            <div class="thumbnail-img-txt-con" *ngFor="let article of data.contentViews.slice(1, data.recordToBeDisplayedForMobile)">
                <div class="row m-0 thumbnail-img-con">
                    <div class="col-8 ps-0 thumbnail-txt-box">
                        <div class="row m-0 article-txt-con">
                            <div class="col-12 p-0 article-category-txt" *ngIf="article.showCategory">
                                <p *ngIf="article.categoryViews && article.categoryViews.length !== 0">
                                    {{ article.categoryViews[0].name }}
                                </p>
                            </div>
                            <div class="col-12 p-0 article-txt">
                                <a class="text-decoration-none article-title-txt" [href]="appUrl.ARTICLE_VIEW + '/' + article.slug">
                                    <p>{{ article.title }}</p>
                                </a>
                            </div>
                            <div class="col-12 p-0 article-txt">
                                <p class="article-sub-description-txt">
                                    {{ article.subHeading }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 pe-0 article-img-box">
                        <a class="text-decoration-none" [href]="appUrl.ARTICLE_VIEW + '/' + article.slug">
                            <img [src]="apiUrl.DOWNLOAD_IMAGE + article.thumbnailImageView.fileId" />
                        </a>
                    </div>
                    <div class="col-12">
                        <div class="row slide-article-txt-box">
                            <div class="col-9 p-0 article-by-read-time-box">
                                <app-article-author *ngIf="article.authorViews" [authorViews]="article.authorViews"></app-article-author>
                                &nbsp; · &nbsp;
                                <span>{{ article.readTime }} Min Read</span>
                            </div>
                            <div class="col-3 article-bookmark-upload-icon p-0 text-right">
                                <div class="article-bookmark-upload-icon-box">
                                    <a (click)="onBookmark(article.id)">
                                        <mat-icon>
                                            <span
                                                [ngClass]="article.bookMark ? 'material-symbols' : 'material-symbols-outlined'"
                                                matTooltip="Bookmark"
                                                >bookmark</span
                                            >
                                        </mat-icon>
                                    </a>
                                    <app-article-share [article]="article"></app-article-share>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Thumbnail Section Code End -->

    <div class="row m-0 px-2 mb-4" *ngIf="data.hasViewMore">
        <div class="col-12">
            <button class="w-100 view-all-btn-box" type="button" mat-flat-button (click)="onViewAll(data)">View All</button>
        </div>
    </div>
</section>
<!-- Hero Banner Section Code End -->

<!-- Desktop Site Hero Banner Section Code Start -->
<section class="hero-banner-box desktop-site-hero-banner-box hero-banner-with-thumbnail-con" *ngIf="!changeResolutionFlag">
    <div class="row m-0 section-heading-txt-box mb-3" [ngClass]="removeBorder ? 'remove-top-border' : ''">
        <div class="col-md-10 section-heading-txt" *ngIf="data.articleType.key !== 3">
            <h5 class="mb-0">
                <a class="text-decoration-none" [href]="authorService.generateSlug(data.name, data.referenceId, data.articleType.key)">
                    {{ data.name }}
                </a>
            </h5>
        </div>
        <div class="col-10 state-drop-down-box" *ngIf="data.articleType.key === 3">
            <span class="state-title-txt"> STATE WATCH &nbsp;&nbsp; </span>
            <mat-form-field appearance="outline">
                <button type="button" class="btn filter-btn" (click)="select.open(); stateSearch()">
                    <mat-icon>
                        <span class="material-symbols-outlined">instant_mix</span>
                    </mat-icon>
                </button>
                <mat-select
                    #select
                    [compareWith]="utils.idComparer"
                    [(ngModel)]="data.stateView"
                    [ngModelOptions]="{ standalone: true }"
                    (selectionChange)="onStateChange($event)"
                    class="state-filter-dropdown"
                >
                    <mat-select-filter
                        placeholder="Search By State Name"
                        *ngIf="select.focused"
                        [array]="stateList"
                        displayMember="name"
                        (filteredReturn)="filteredStateList = $event"
                    ></mat-select-filter>
                    <mat-option *ngFor="let data of filteredStateList" [value]="data">
                        {{ data.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-2 view-all-txt-box pe-0" *ngIf="data.hasViewMore">
            <a (click)="onViewAll(data)">View All</a>
        </div>
    </div>
    <div class="row mt-4" *ngIf="!hasData">
        <div class="col-md-6 col-lg-4" *ngFor="let i of [0, 1, 2, 3, 4, 5]">
            <app-line-skeleton-loader [theme]="thumbnailTheme"></app-line-skeleton-loader>
        </div>
    </div>
    <div class="row m-0 p-0">
        <div class="col-6 ps-0">
            <div class="hero-banner-with-thumbnail-box">
                <div class="hero-banner-content-box">
                    <div class="row m-0">
                        <div class="col-12 p-0 article-img-box">
                            <a class="text-decoration-none" [href]="appUrl.ARTICLE_VIEW + '/' + data.contentViews[0].slug">
                                <img [src]="apiUrl.DOWNLOAD_IMAGE + data.contentViews[0].bannerFileView.fileId" />
                            </a>
                        </div>
                    </div>
                    <div class="hero-banner-title-box">
                        <div class="row m-0 article-txt-con">
                            <div class="col-12 p-0 article-category-txt" *ngIf="data.showCategory">
                                <p *ngIf="data.contentViews[0].categoryViews && data.contentViews[0].categoryViews.length !== 0">
                                    {{ data.contentViews[0].categoryViews[0].name }}
                                    <!-- <a [href]="authorService.generateSlug(data.contentViews[0].categoryViews[0].name, data.contentViews[0].categoryViews[0].id, articleType.CATEGORY)">
                                        {{data.contentViews[0].categoryViews[0].name}}
                                    </a> -->
                                </p>
                            </div>
                            <div class="col-12 p-0 article-txt">
                                <a
                                    class="text-decoration-none article-title-txt"
                                    [href]="appUrl.ARTICLE_VIEW + '/' + data.contentViews[0].slug"
                                >
                                    <p>
                                        {{ data.contentViews[0].title }}
                                    </p>
                                </a>
                            </div>
                            <div class="col-12 p-0 article-txt">
                                <p class="article-sub-description-txt">
                                    {{ data.contentViews[0].subHeading }}
                                </p>
                            </div>
                            <div class="row m-0 p-0 align-items-center">
                                <div class="col-9 p-0 article-by-read-time-box">
                                    <app-article-author
                                        *ngIf="data.contentViews[0].authorViews"
                                        [authorViews]="data.contentViews[0].authorViews"
                                    ></app-article-author>
                                    &nbsp; · &nbsp;
                                    <span>{{ data.contentViews[0].readTime }} Min Read</span>
                                </div>
                                <div class="col-3 article-bookmark-upload-icon p-0 text-right">
                                    <div class="article-bookmark-upload-icon-box">
                                        <a (click)="onBookmark(data.contentViews[0].id)">
                                            <mat-icon>
                                                <span
                                                    [ngClass]="
                                                        data.contentViews[0].bookMark ? 'material-symbols' : 'material-symbols-outlined'
                                                    "
                                                    matTooltip="Bookmark"
                                                    >bookmark</span
                                                >
                                            </mat-icon>
                                        </a>
                                        <app-article-share [article]="data.contentViews[0]"></app-article-share>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 pe-0 ps-4">
            <!-- Thumbnail Section Code Start -->
            <div class="thumbnail-section-box">
                <div>
                    <div class="thumbnail-img-txt-con" *ngFor="let article of data.contentViews.slice(1, 4); let i = index">
                        <div class="row m-0 thumbnail-img-con">
                            <div class="col-md-8 col-lg-9 px-0 thumbnail-txt-box">
                                <div class="row m-0 article-txt-con">
                                    <div class="col-12 p-0 article-category-txt" *ngIf="data.showCategory">
                                        <p *ngIf="article.categoryViews && article.categoryViews.length !== 0">
                                            {{ article.categoryViews[0].name }}
                                        </p>
                                        <!-- <a [href]="authorService.generateSlug(article.categoryViews[0].name, article.categoryViews[0].id, articleType.CATEGORY)">
                                            {{article.categoryViews[0]?.name}}
                                        </a> -->
                                    </div>
                                    <div class="col-12 p-0 article-txt">
                                        <a class="text-decoration-none article-title-txt" [href]="appUrl.ARTICLE_VIEW + '/' + article.slug">
                                            <p>{{ article.title }}</p>
                                        </a>
                                    </div>
                                    <div class="col-12 p-0 article-txt">
                                        <p class="article-sub-description-txt">
                                            {{ article.subHeading }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-3 px-0 article-img-box">
                                <a class="text-decoration-none" [href]="appUrl.ARTICLE_VIEW + '/' + article.slug">
                                    <img [src]="apiUrl.DOWNLOAD_IMAGE + article.thumbnailImageView.fileId" />
                                </a>
                            </div>
                            <div class="col-12" *ngIf="article.authorViews">
                                <div class="row slide-article-txt-box">
                                    <div class="col-9 p-0 article-by-read-time-box">
                                        <app-article-author
                                            *ngIf="article.authorViews"
                                            [authorViews]="article.authorViews"
                                        ></app-article-author>
                                        &nbsp; · &nbsp;
                                        <span>{{ article.readTime }} Min Read</span>
                                    </div>
                                    <div class="col-3 article-bookmark-upload-icon p-0 text-right">
                                        <div class="article-bookmark-upload-icon-box">
                                            <a (click)="onBookmark(article.id)">
                                                <mat-icon>
                                                    <span
                                                        [ngClass]="article.bookMark ? 'material-symbols' : 'material-symbols-outlined'"
                                                        matTooltip="Bookmark"
                                                        >bookmark</span
                                                    >
                                                </mat-icon>
                                            </a>
                                            <app-article-share [article]="article"></app-article-share>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Thumbnail Section Code End -->
        </div>
    </div>
</section>
<!-- Desktop Site Hero Banner Section Code End -->
