@font-face {
    font-family: 'Literata';
    src: url('../../fonts/Literata-Bold.eot');
    src: url('../../fonts/Literata-Bold.eot?#iefix') format('embedded-opentype'), url('../../fonts/Literata-Bold.woff2') format('woff2'),
        url('../../fonts/Literata-Bold.woff') format('woff'), url('../../fonts/Literata-Bold.svg#Literata-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Literata';
    src: url('../../fonts/Literata-Medium.eot');
    src: url('../../fonts/Literata-Medium.eot?#iefix') format('embedded-opentype'), url('../../fonts/Literata-Medium.woff2') format('woff2'),
        url('../../fonts/Literata-Medium.woff') format('woff'), url('../../fonts/Literata-Medium.svg#Literata-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Literata';
    src: url('../../fonts/Literata-Regular.eot');
    src: url('../../fonts/Literata-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Literata-Regular.woff2') format('woff2'), url('../../fonts/Literata-Regular.woff') format('woff'),
        url('../../fonts/Literata-Regular.svg#Literata-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Literata';
    src: url('../../fonts/Literata-Semi-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}